/* Demo */
body {
  font-family: "Droid Sans",sans-serif;
}
body,
a,
a:visited {
  color: #333;
}
h1 {
  text-align: center;
  margin: 40px 0px;
  font-size: 36px;
  text-shadow: 2px 2px 0 #CCC;
}
p {
  text-align: center;
}
ul {
  list-style: none;
}
div#content {
  margin: 0px auto;
  width: 930px;
}
div.footer {
  margin-top: 50px;
  text-align: right;
}
div.example {
  margin-top: 24px;
  margin-bottom: 32px;
  overflow: hidden
}
div.label {
  width: 300px;
  display: inline-block;
  text-align: center;
}
div.label-a {
  margin-left: 5px;
}
div.separator {
  width: 10px;
  display: inline-block;
  text-align: center;
}
div.image {
  width: 300px;
  height: 300px;
  margin: 4px;
  border: 1px solid #999;
  display: block;
  float: left;
}
div.example.transparency div.image-b,
div.example.transparency div.image-c {
  background: url('../images/hash.gif') 6px 0px;
}
div.example.size div.image-b {
  width: 200px;
  height: 200px;
  margin: 54px;
}
